@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.woff);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Bold.woff);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-ExtraBold.woff);
  font-weight: 800;
  font-style: normal;
}

/* Общие стили */

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}



button {
    cursor: pointer;
}

.input,
textarea,
button {
  color: inherit;
  font-family: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 10px 0;
}

.container {
  max-width: 1800px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}


/* Header */

.header {
  padding-top: 14px;
  padding-bottom: 14px;
  color: #333;
  height: 100px;
}

.header > .container {
  height: 100%;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__logo {
  max-width: 224px;
  max-height: 72px;
  margin-right: 729px;
  margin-right: auto;
}

.header__nav__list {
  display: flex;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav__item {
  margin-right: 86px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  position: relative;

}

.header__nav__item:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #ff9900;
  bottom: -8px;
  right: 0;
  transition: all .3s ease;
}

.header__nav__item:hover:before {
  width: 100%;
  right: auto;
  left: 0;
}

.header__nav__item:active::before {
  background: #E1670E;
}

.header__nav__item:active {
  color: #E1670E;
}

.header__nav__item:last-child {
  margin-right: 71px;
}

.header__search-button {
  margin-right: 9px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.header__search-icon {
  max-width: 26px;
  max-height: 26px;
  transition: fill .2s ease;
}

.header__search-button:hover .header__search-icon-circle {
  stroke: #ff9900;
}

.header__search-button:hover .header__search-icon-rect {
  fill: #ff9900;
}

.header__search-button:active .header__search-icon-circle {
  stroke: #E1670E;
}

.header__search-button:active .header__search-icon-rect {
  fill: #E1670E;
}

.burger {
  width: 30px;
  height: 23px;
  position: relative;
  color: #000;
  display: none;
  z-index: 20;
}

.menu {
  display: none;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  left: 0;
  color: #333;
  transition: transform .3s ease-in-out;
  transform: translateX(-101%);
  background-color: #fff;
  font-size: 30px;
  text-align: left;
  max-width: 370px;
  padding: 159px 0px 127px 70px;
  font-size: 30px;
  font-weight: 700;
  
}

.close {
  position: absolute;
  top: 33px;
  right: 40px;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  
}

.close svg {
  width: 30px;
  height: 30px;
  fill: rgba(102, 102, 102, 0.979);
}

.close svg:active {
  fill: black;
  
}
  


.menu__item {
  margin-bottom: 60px;
}

.menu.is-active {
  display: inline;
  transform: none;
  z-index: 10;
  
}



/* Intro */



.swiper-slide-1 {
  background: url(../img/intro.jpg) no-repeat;
}

.swiper-slide-2 {
  background: url(../img/swiper/2.jpg) no-repeat;
}

.swiper-slide-3 {
  background: url(../img/swiper/3.jpg) no-repeat;
}

.intro__content {
  z-index: 2; 
  position: relative;
  padding-top: 105px;
  padding-bottom: 91px;
  display: inline-block;
  
}

.swiper-container {
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}

.swiper-wrapper {
  position: absolute !important;
  z-index: 1;
}

.swiper-pagination-bullet {
  background-color: rgb(255, 255, 255) !important;
  width: 15px !important;
  height: 15px !important;
  margin: 10px !important;
}

.swiper-pagination-bullet:hover {
  background-color: #ffffff85 !important;
}

.swiper-button-prev,
.swiper-button-next {
  --swiper-theme-color: #666;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  --swiper-theme-color: #FF9900;
}

.swiper-button-prev:active,
.swiper-button-next:active {
  --swiper-theme-color: #E1670E;
}



.intro__heading {
  max-width: 841.76px;
  margin-left: 80px;
  margin-top: 2px;
  margin-bottom: 20px;
  font-size: 70.37px;
  font-weight: 800;
  line-height: 85.79px;
  color: #fff;
}

.intro__description {
  max-width: 836.73px;
  margin-left: 80px;
  margin-bottom: 97px;
  font-weight: bold;
  font-size: 23.4581px;
  line-height: 29px;
  color: #fff;
}

.intro__btn {
  padding: 30px 38px 27px 38px;
  margin-left: 82px;
  color: #fff;
  background-color: #ff9900;
  border: none;
  font-size: 23.46px;
  font-weight: 700;
  line-height: 1;
  transition: background-color .2s ease;
}

.intro__btn:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.intro__btn:active {
  background-color: #E1670E;
}



/* About-us */

.about-us {
  padding-top: 106px;
  padding-bottom: 50px;
}

.section-heading {
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}

.about-us__heading {
  margin-bottom: 28px;
  margin-left: 3px;

}

.about-us__description {
  max-width: 1235px;
  margin-bottom: 44px;
  margin-left: 2px;
  font-size: 16px;
  font-weight: normal;
  line-height: 32px;
}

.about-us__blocks {
  display: flex;
}

.about-us__left,
.about-us__right {
  width: 50%;
}

.about-us__left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 30px;
  background-image: url(../img/about-us/1.jpg);
  background-size: cover;

}

.about-us__left__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  padding-top: 40px;
  padding-bottom: 32px;
  padding-right: 66px;
  padding-left: 54px;
  background-color: rgba(0, 0, 0, 0.445);
}

.about-us__left__description {
  width: 497px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
}

.about-us__btn {
  padding: 19px 36px 18px 36px;
  margin-bottom: 7px;
  color: #fff;
  font-weight: 700;
  line-height: 1;
  border: 3px solid #ff9900;
  transition: background-color .2s ease;
}

.about-us__btn:hover {
  background-color: #FF9900;
}

.about-us__btn:active {
  background-color: #E1670E;
  border: 3px solid #E1670E;
}

.about-us__right {
  display: flex;
  flex-direction: column;
}

.about-us__right__top,
.about-us__right__bottom {
  display: flex;
  padding-left: 63px;
  padding-right: 80px;
  padding-top: 67px;
  padding-bottom: 72px;
  border: 1px solid #cacaca;
}

.about-us__right__top {
  margin-bottom: 30px;
}

.about-us__right__img {
  margin-right: 59px;
}

.about-us__right__text {
  max-width: 470px;
}

.about-us__right__heading {
  margin-bottom: 5px;
  max-width: 452px;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
}

.about-us__right__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

/* How we work */

.how-we-work {
  margin-top: 56px;
  margin-bottom: 15px;
}

.how-we-work__heading {
  margin-bottom: 53px;
}

.how-we-work__steps {
  margin-left: 4px;
  display: flex;
  margin-bottom: 45px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

.how-we-work__steps__item {
  margin-right: 89px;
  transition: color .2s ease;
}



.tabs__btn:focus {
  outline: 3px solid black;
}

.tabs__btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
}

.tab-content {
  display: none;
}

.tab-content-active {
  display: block;
}

.how-we-work__steps__item:hover {
  color: #FF9900;
}

.how-we-work__steps__item:active {
  color: #E1670E;
}



.how-we-work__steps__item:last-child {
  margin-right: 0;
}

.how-we-work__blocks {
  display: flex;
  padding-left: 3px;
}

.how-we-work__left,
.how-we-work__right {
  width: 50%;
}

.how-we-work__right {
  margin-top: 11px;
  max-width: 870px;
}

.how-we-work__right-1 {
  background-image: url(../img/how-we-work/1.jpg);
}

.how-we-work__right-2 {
  background-image: url(../img/tabs/2.jpg);
}

.how-we-work__right-3 {
  background-image: url(../img/tabs/3.jpg);
}

.how-we-work__right-4 {
  background-image: url(../img/tabs/4.jpg);
}

.how-we-work__left {
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.how-we-work__left__text {
  max-width: 758px;
  margin-bottom: 65px;
}

.how-we-work__left__heading {
  margin-bottom: 4px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.how-we-work__left__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}

.how-we-work__btns {
  margin-top: 5px;
}

.how-we-work__btn-1 {
  padding: 20px 38px;
  margin-right: 26px;
  color: #fff;
  background-color: #ff9900;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  transition: background-color .2s ease;
}

.how-we-work__btn-1:hover {
  background-color: rgba(255, 153, 0, 0.6);
}

.how-we-work__btn-1:active {
  background-color: #E1670E;
  border: 3px solid #E1670E;
}

.how-we-work__btn-2 {
  padding: 19px 38px;
  color: #333;
  border: 1px solid #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  transition: color .2s ease;
}

.how-we-work__btn-2:hover {
  background-color: #333;
  border: 3px solid #333;
  color: #fff;
}

.how-we-work__btn-2:active {
  background-color: #000;
  border: 3px solid #000;
}

/* Questions */

.questions {
  margin-top: 105px;
  margin-bottom: 102px;
}

.questions__heading {
  font-size: 48px;
  margin-left: 3px;
  margin-bottom: 36px;
}

.question__item {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #cacaca;
  padding: 10px 0 10px 0;
  margin-left: 6px;
  cursor: pointer;
}

.questions__answer {
  height: 100%;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  max-width: 1003px;

}


.ui-accordion-header-active:hover .questions__circle {
  transform: rotate(45deg);
  transition: transform .8s ease;
}

.ui-accordion-header:focus {
  border: none;
  outline: none;
}

.ui-accordion-content {
  height: 100%;
}

.question__item:hover .question__item__title{
  color: #FF9900; 
}

.question__item:hover {
  border-top: #ff9900 1px solid;
  border-bottom: #ff9900 1px solid;  
}


.question__item:hover .questions__button ellipse {
  fill: #D2D2D2;

}

.question__item:last-child {
  border-bottom: 1px solid #cacaca;
}

.question__item:last-child:hover {
  border-bottom: 1px solid #ff9900;
  }

.question__item__top {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.ui-accordion .ui-accordion-content {
  padding: 0 !important;
}

.question__item__title {
  justify-self: flex-start;
  font-size: 20px;
}

.question__item__icon {
  width: 50px;
  height: 50px;
}

.questions__button {
  width: 50px;
  height: 50px;
  padding: 0 0 5px 0;
  border: none;
  border-radius: 50%;
}

.questions__circle {
  width: 50px;
  height: 50px;
}


/* Footer */


.footer {
    padding: 48px 0 80px 0;
    background-color: #222;
    color: #CACACA;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__left {
    display: flex;
    flex-direction: column;

}

.footer__nav {
    margin-top: 17px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;


}

.footer__nav__link {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    transition: color .2s ease;
}

.footer__nav__link:hover {
    color: #FF9900;
}

.footer__nav__link:active {
    color: #E1670E;
}

.footer__nav_link:last-child {
    margin-bottom: 0;
}

.footer__social {
    max-width: 290px;
    display: flex;
    
}

.footer__social__item {
  margin-right: 24px;
}

.footer__social__item:hover path {
    fill: #ff9900;
}

.footer__center {
  max-width: 570px;


}

.footer__heading {
  margin-top: 6px;
  margin-bottom: 29px;
}

.footer__form {
    display: inline-table;
    

}

.input,
.textarea {
  width: 570px;
  background-color: #414141;
  font-size: 16px;
  font-weight: normal;
  color: inherit;
  border: none;
    
}


textarea::placeholder {
    color: #CACACA !important;
}

input::placeholder {
    color: #cacaca !important;
}

.input {
  margin-bottom: 25px;
  padding: 22px 0 21px 26px;
}

.textarea {
  margin-bottom: 26px;
  padding: 20px 0 0 26px;
  max-height: 150px;
  resize: none;
 
}

.form__btn {
  padding: 20px 53px;
  margin-right: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  background-color: #FF9900;
  color: #fff;
  border: none;


}

label {
  cursor: pointer;
  padding-left: 14px;
  position: relative;
}

#check {
  position: absolute;
  opacity: 0;

}

input:focus + span {
  outline: 1px solid #fff !important;
}

#check + span {
  
  position: absolute;
  top: +2px;
  left: 0;
  width: 14px;
  height: 14px;
  text-align: center;
  border: 1px solid #cacaca;

}

#check + span::before {
  content: '';
  background: url(../img/check.svg) no-repeat center center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

#check:checked + span::before {
  opacity: 1;
  color: #97EE3F;
  
}

label:focus {
  outline: 1px solid #fff;
}



.footer__right {
  margin-bottom: 17px;
  max-width: 363px;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}



@media (max-width: 1366px) {

.container {
  padding: 0 50px;
}  

.header__nav__list {
  display: none;
}

.burger {
  display: block;
}



.intro__heading {
  max-width: none;
}



.intro__content {
  padding-top: 160px;
  padding-bottom: 70px;
}


.header__nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%; 
}

.header__logo {
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%); 
}

.header__search-button {
  margin-right: 0;
  margin-top: 10px;
}

.header__logo__img {
  width: 150px;
  height: 48px;
}

.intro__heading {
  max-width: 837px;
  margin-left: 45px;
  font-size: 60px;
  margin-bottom: 9px;

}

.intro__description {
  max-width: 658px;
  margin-left: 45px;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 108px;
}

.intro__btn {
  margin-left: 48px;
  padding: 30px 42px 27px 40px;
}


.intro__heading {
  line-height: 73px;
}


.about-us {
  padding-top: 66px;
  padding-bottom: 8px;
}


.about-us__heading {
  margin-left: 0;
  margin-bottom: 31px;
}

.about-us__description {
  margin-left: 0;
  margin-bottom: 58px;
}

.about-us__blocks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about-us__left,
.about-us__right {
  width: 100%;

  
}

.about-us__left {
  height: 640px;
  margin-bottom: 50px;
}

.about-us__right__top,
.about-us__right__bottom {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-top: 43px;
  padding-bottom: 43px;
}


.about-us__right__top {
  padding-top: 66px;
  padding-bottom: 55px;
  padding-left: 67px;
}

.about-us__right__bottom {
  padding-left: 37px;
  padding-top: 65px;
  padding-bottom: 55px;
}



.about-us__left__bottom {
  padding-bottom: 29px;
  padding-left: 44px;
  padding-right: 50px;
}

.about-us__right__top {
  margin-bottom: 40px;
}

.about-us__right__heading {
  font-size: 24px;
}

.about-us__right__description {
  font-size: 16px;
  max-width: 430px;
}


.about-us__right__img {
  margin-right: 62px;
  margin-top: 10px;
}

.about-us__right__img__bottom {
  margin-top: 0;
}


.how-we-work__heading {
  margin-left: -6px;
}

.how-we-work__steps {
  margin-left: 0;
}

.how-we-work__left {
  margin-right: 46px;
}

.how-we-work__right {
  background-image: url(../img/how-we-work/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}





.how-we-work__btn-1 {
  margin-right: 20px;
}

.how-we-work__left__text {
  margin-bottom: 34px;
}

.questions {
  margin-top: 80px;
  margin-bottom: 54px;
}


.questions__heading {
  margin-left: 0;
  margin-bottom: 36px;
}

.question__item {
  margin-left: 0;
}

.question__item__title {
  font-size: 20px;
  max-width: 756px;
}

.form__btn {
  padding: 20px 35px;
  margin-right: 13px;
}
  
.footer__right {
  display: none;
}

.footer__form {
  max-width: 534px;
}

.input,
.textarea {
  max-width: 534px;
}



}

@media (max-width: 992px) {

.footer__inner {
  justify-content: flex-start;
  flex-direction: column-reverse;
  align-items: flex-start;

} 

.footer__nav {
  display: none;
}

.footer__center {
  margin-bottom: 58px;
}
  

}

@media (max-width: 845px) {

.how-we-work__btns {
  margin-top: 5px;
}

.how-we-work__btn-1 {
  padding: 20px 25px;
}

.how-we-work__btn-2 {
  padding: 19px 25px;
}

.intro__content {
  padding-top: 120px;
  padding-bottom: 65px;
}

.intro__description {
  margin-bottom: 53px;
}


}


@media (max-width: 768px) {

.container {
  padding: 0 50px;
  max-width: 768px;
}  

.container__intro {
  padding: 0;
}



.menu {
  padding: 133px 0px 59px 80px;
  font-size: 25px;
  max-width: 300px;
}

.menu__item {
  margin-bottom: 50px;
}

.close {
  top: 18px;
}



.header {
  height: 69px;
}  

.header__search-button {
  margin-right: -3px;
  margin-top: 6px;
}

  

.intro__inner {
  background-size: 768px 699px;
  padding-top: 0px;
  padding-bottom: 0;
  overflow-x: hidden !important;
}

.intro__content {
  padding-bottom: 66px;
  padding-top: 104px  ;
}

.intro__heading {
  font-size: 55px;
  margin-left: 50px;
}

.intro__description {
  margin-left: 50px;
  margin-bottom: 43px;
}

.about-us {
  padding-top: 65px;
  padding-bottom: 55px;
} 

.about-us__heading {
  margin-bottom: 31px;
}

.about-us__description {
  margin-bottom: 58px;
}

.about-us__left__bottom {
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 21px;
  padding-bottom: 12px;
}

.about-us__left {
  background-position: center;
  height: 650px;
  margin-bottom: 41px;
}

.about-us__left__description {
  max-width: 401px;
}

.about-us__right__bottom,
.about-us__right__top {
  width: 100%;
  align-items: center;
}

.about-us__right__top {
  padding-left: 31px;
  padding-top: 35px;
  padding-bottom: 26px;
  padding-right: 32px;
}

.about-us__right__bottom {
  padding-left: 8px;
  padding-right: 32px;
  padding-top: 35px;
  padding-bottom: 26px;
}

.about-us__right__heading {
  font-size: 24px;
}

.about-us__right__description {
  font-size: 16px;
}

.about-us__right__icon {
  max-width: 120px;
  max-height: 120px;
}

.about-us__right__img {
  margin-right: 30px;
  margin-top: 0;
}

.how-we-work {
  margin-top: 8px;
}

.how-we-work__steps {
  justify-content: space-between;
  margin-bottom: 37px;
}

.how-we-work__steps__item {
  margin-right: 20%;
}

.how-we-work__right {
  background-image: url(../img/how-we-work/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-bottom: 38px;
  padding-bottom: 283px;
}

.how-we-work__blocks {
  flex-direction: column-reverse;
}


.how-we-work__left {
  width: 100%;
}

.how-we-work__left__text {
  margin-bottom: 34px;
}

.questions {
  margin-top: 84px;
}


.question__item__title {
  max-width: 570px;
}

.footer__inner {
  padding: 0;
}

.footer {
  padding: 64px 0 80px 0;
}

.form__btn {
  padding: 21px 37px;
  margin-right: 18px;
}

.footer__logo {
  margin-bottom: 10px;
}
  

/* media */

@media (max-width: 689px) {

.menu {
  padding: 164px 0px 100px 80px;
}

.menu__item {
  margin-bottom: 59px;
}

}



@media (max-width: 576px) {


.container {
  padding: 0 30px;
  max-width: 576px;
}  

.container__intro {
  padding: 0;
}

.intro__content {
  padding-bottom: 70px;
  padding-top: 80px;
}

.intro__heading {
  font-size: 50px;
  line-height: 54px;
}  

.menu__item {
  margin-bottom: 40px;
}

.about-us__right__heading {
  font-size: 16px;
}

.about-us__right__description {
  font-size: 14px;
}

.about-us__right__bottom, .about-us__right__top {
  padding: 45px 25px;
}

.about-us__right__img {
  margin-right: 20px;
}

.about-us__right__description {
  font-size: 13px;
}


.input, .textarea {
  width: 100%;

}

.form__btn {
  display: block;
  font-size: 16px;
  padding: 16px 28px;
  margin: 0 0 10px;
  margin-bottom: 18px;

}

label {
  padding-left: 20px;
  text-align: center;
  margin-left: 6px;
}


}

@media (max-width: 500px) {

  .menu {
    padding: 180px 0px 152px 80px;
  }

  }


@media (max-width: 440px) {

.container {
  max-width: 440px;
  padding: 0 15px;
}

.menu {
  left: auto;
  font-size: 18px;
  max-width: 244px;
  padding: 73px 102px 54px 50px;
}

.menu__item {
  margin-bottom: 30px;
}

.close svg {
  width: 22px;
  height: 22px;
}

.close {
  top: 10px;
  right: 203px;
}

.header {
  height: 45px
}    
 
.header__search-button {
  display: none;
}

.header__logo {
  position: static;
  left: 0;
  top: 0;
  transform: none; 
}

.header__nav {
  flex-direction: row;
}

.header__logo__img {
  width: 97px;
  height: 31px;
}

.burger {
  width: 25px;
  height: 19px;
}

.container .intro__inner {
  padding: 0;
}

.intro__inner {
  padding-top: 59px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-size: cover;
  max-height: 308px;
}

.intro__heading {
  max-width: 247px;
  font-size: 20px;
  line-height: 24px;
  margin-left: 0;
  margin-bottom: 10px;
}

.intro__description {
  max-width: 243px;
  font-size: 12px;
  line-height: 14px;
  margin-left: 0;
  font-weight: 500;
  margin-bottom: 37px;

}

.intro__btn {
  font-size: 12px;
  padding: 15px 29px;
  margin-left: 5px;
}

.about-us {
  padding-top: 41px;
  padding-bottom: 35px;
}

.about-us__right__bottom,
.about-us__right__top {
  background-position: left 0px top 0px;
  background-size: 100px 80px;
  padding: 80px 0;
} 

.about-us__description {
  font-size: 14px;
  margin-bottom: 13px;
  width: 100%;
  line-height: 28px;
}

.about-us__heading {
  margin-bottom: 0px;
}

.about-us__left {
  min-height: 400px;
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  max-height: 200px;

}

.about-us__left__bottom {
  background-color: transparent;
  display: block;
  padding: 0; 
}

.about-us__left__description {
  color: #333;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.about-us__btn {
  color: #ff9900;
  font-size: 12px;
  padding: 11px 35px 14px 35px;
}

.about-us__right__top, .about-us__right__bottom {
  flex-direction: column;
  border: none;
  padding: 0;
  align-items: flex-start;
}

.about-us__right__icon {
  max-width: 64px;
  max-height: 49px;
} 

.about-us__right__heading {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 6px;
  margin-bottom: 0;
}

.about-us__right__description {
  font-size: 14px;
  line-height: 28px;
}

.about-us__right__text {
  margin-left: 0px;
}

.about-us__right__top {
  margin-bottom: 20px;
}


.section-heading {
  font-size: 24px;
}

.how-we-work__heading {
  margin-left: 0px;
  margin-bottom: 32px;
}

.how-we-work__steps {
  width: 100%;
  font-size: 14px;
  margin-bottom: 4px;
}

.how-we-work__steps__item {
  margin-right: 0;
}

.how-we-work__right {
  height: 160px;
  background-position: center;
  background-size: cover;
  margin-bottom: 7px;
  padding-bottom: 161px;
}

.how-we-work__btns {
  display: flex;

}

.how-we-work__btn-1 {
  padding: 11px 40px 14px 40px;
  font-size: 12px;
  margin-right: 10px;
}

.how-we-work__btn-2 {
  padding: 11px 30px 14px 30px;
  font-size: 12px;
}

.how-we-work__left__text {
  margin-bottom: -6px;
}


.how-we-work__left__heading {
  font-size: 18px;
  margin-bottom: 0;
}

.how-we-work__left__description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
}

.how-we-work__btns {
  margin-top: 0px;
}

.how-we-work__btn-1 {
  padding: 13px 43px 14px 43px;
  margin-right: 13px;
}

.questions {
  margin-top: 41px;
}

.questions__heading {
  width: 290px;
  line-height: 28px;
  margin-bottom: 14px;
}

.question__item__title {
  font-size: 14px;
  line-height: 27px;
}

.question__item {
  padding: 29px 0 23px 0;
}

.footer {
  padding: 23px 0 0px 0;
}

.footer__heading {
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 20px;
}

.footer__inner {
  padding: 0;
  align-items: center;
  padding-left: 5px;
}

.footer__form {
  max-width: 290px;
}

.input,
.textarea {
  width: 290px;
  font-size: 14px;
  padding-left: 21px;
}

.textarea {
  margin-bottom: 24px;
} 

.form__btn {
  display: block;
  font-size: 12px;
  padding: 13px 28px;
  margin: 0 auto 10px;
  margin-bottom: 18px;

}

label {
  padding-left: 20px;
  text-align: center;
  margin-left: 6px;
}

.footer__logo {
  width: 131px;
  height: 42px;
}

.footer__social__item {
  margin-right: 14px;
  width: 35px;
  height: 35px;
}

.footer__center {
  border-bottom: 1px solid #fff;
  margin-bottom: 37px;
}

.footer__left {
  margin-left: 15px;
}





}
